/**************************************************** 
                    Global Styles
 *****************************************************/

 html {
    box-sizing: border-box;
    font-family: Rubik;
 }


 /* .container {
    width: 100%;
    margin: 0 auto;
} */

.max-mar {
    max-width: 1200px;
    margin: 0 auto;
}

/* .hundo-p {
    max-width: 100%;
    margin: 0 auto;
} */



::selection {
    background-color: #FFECEC;
    color: #F53838;
}



/* ------------------ TYPOGRAPHY ------------------ */

p {
    color: #4F5665;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; 
}

h1 {
    color: #0B132A;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

h2 {
    color: #0B132A;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

h3 {
    color: #0B132A;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

h5 {
    color: #4F5665;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

nav ul li a {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.hero-cta h1 em {
    font-weight: 700;
}


/* ------------------ BUTTONS ------------------ */


.signin {
    color: #0B132A;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    padding: 0.5em 2em;
}

.signup {
    padding: .5em 2em;
    border: solid 1px #F53838;
    border-radius: 50px;
    color: #F53838;
    font-size: 16px;
    font-weight: 500;
}

.signup:hover,
.signup:focus {
    padding: .5em 2em;
    border: solid 1px #F53838;
    border-radius: 50px;
    background-color: #F53838;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.hero-cta {
    display: flex;
    flex-direction: column;
}

.hero-cta button   {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #F53838;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.25%;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}

.hero-cta button:hover,
.hero-cta button:focus  {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #ef4a4a;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.25%;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}

.hero-cta .blur {
    position: relative;
    width: 250px;
    height: 85.291px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);
    z-index: 2;
}


/* ------------------ NAVIGATION ------------------ */

.signin:hover,
.signin:focus {
    color: #F53838;
}

.nav-items li a:hover,
.nav-items li a:focus {
    color: #F53838;
}




/* --------------------- HEADER -------------------- */

.hero-box {
    padding: 6em 1em 1em 1em;
}

.hero-img {
    background-image: url(/images/Illustration\ 1.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    height:400px;
}

/* --------------------- STATS -------------------- */

.stats ul {
    display: flex;
    justify-content: space-around;
}

.stats ul li {
    margin: 2em 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    flex-grow: 1;
}

.stats-box li img {
    padding: 0 0 1em 0;
}




 /**************************************************** 
                    Mobile Styles
 *****************************************************/

 @media screen and (max-width:895px) {

    /* ------------------ TYPOGRAPHY ------------------ */



    h1 {
        color: #0B132A;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 
    }

    p {
        color: #4F5665;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; 
    }




    /* ------------------ NAVIGATION ------------------ */

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    .desktop {
        display: none;
    }

  
    :root {
        --bar-width: 40px;
        --bar-height: 4px;
        --hamburger-gap: 6px;
        --foreground: #0B132A;
        --background: #F53838;
        --hamburger-margin-top: 1.8em;
        --hamburger-margin-left: 1em;
        --animation-timing: 200ms ease-in-out;
        --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
        --lasles-red: #F53838;
        --lasels-blue: #0B132A;
        --lasels-light: #FFECEC;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.4142135637);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin-top);
        right: var(--hamburger-margin-left);
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background);
        border-radius: 9999px;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-colour var(--animation-timing);
        transform-origin: left center;
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }
    
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: 0.5em 1em;
        padding-top: 5em;
        background-color: var(--lasels-light);
        color: var(--background);
        width: 100%;
        height: 100vh;
        display: none;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
        display:block;
    }

    .sidebar nav {
        display: flex;
        flex-direction: column;
        text-align: center; 
    }

    .sidebar nav div{
        padding: 1em 2em;
    }

    .sidebar nav div a{
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        color:var(--lasles-red);
    }

    .sidebar nav div a:focus{
        color:var(--lasels-blue);
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);

    }

   .mobile-logo {
        position: absolute;
        top: 1.3em;
        left: 1em;
   }

   /* --------------------- HEADER -------------------- */

   .hero-cta h1 {
    padding: .5em 0;
   }
   
   .hero-cta p {
    padding: 0 0 2em 0;
   }



}


/**************************************************** 
                    Desktop Styles
 *****************************************************/

 @media screen and (min-width:896px)  {
    
    /* ------------------ NAVIGATION ------------------ */

    nav ul {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    
    li.logo {
        justify-items: center;
        align-items: center;
        padding-right: .5em;
    }

    .nav-items {
        display: flex;
        justify-items: center;
        align-items: center;
    }
    
    .nav-items li {
        padding: 1em;
    }
    
    .nav-buttons {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .container {
        margin: 1em;
    }
    
    .mobile-nav {
        display: none;
    }

}