/**************************************************** 
                    Global Styles
 *****************************************************/

 html {
    box-sizing: border-box;
    font-family: Rubik;
 }

 body {
    line-height: 1.5em;
    display:block;
    background-color: #FFF;
 }

.max-mar {
    max-width: 1200px;
    margin: 0 auto;
}

::selection {
    background-color: #FFECEC;
    color: #F53838;
}

:root {
    --bar-width: 40px;
    --bar-height: 4px;
    --hamburger-gap: 6px;
    --foreground: #0B132A;
    --background: #F53838;
    --hamburger-margin-top: 1.8em;
    --hamburger-margin-left: 1em;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --lasles-red: #F53838;
    --lasels-blue: #0B132A;
    --lasels-light: #FFECEC;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    margin: 0 auto;
}

.gradient {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
}


/* ------------------ SKIP LINKS ------------------ */

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  
  .skip-links a:focus{
    top: 0;
  }
  

/* ------------------ TYPOGRAPHY ------------------ */

p {
    color: #4F5665;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187.5%; 
}

h1 {
    color: #0B132A;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

h2 {
    color: #0B132A;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

h3 {
    color: #0B132A;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

h4 {
    color: #0B132A;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
}

h5 {
    color: #4F5665;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

nav ul li a {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.hero-cta h1 em {
    font-weight: 700;
}

.long-card ul li {
    color: #4F5665;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


/* ------------------ BUTTONS ------------------ */

.signin {
    color: #0B132A;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    padding: 0.5em 2em;
}

.signup {
    padding: .5em 2em;
    border: solid 1px #F53838;
    border-radius: 50px;
    color: #F53838;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.signup:hover,
.signup:focus {
    padding: .5em 2em;
    border: solid 1px #F53838;
    border-radius: 50px;
    background-color: #F53838;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.hero-cta button   {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #F53838;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.25%;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}

.hero-cta button:hover,
.hero-cta button:focus  {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #ef4a4a;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.25%;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}

.hero-cta .blur {
    position: relative;
    width: 250px;
    height: 85.291px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);
    z-index: 2;
}

.select {
    padding: .75em 4em;
    border: solid 2px #F53838;
    border-radius: 50px;
    color: #F53838;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.select:hover,
.select:focus {
    padding: .75em 4em;
    border: solid 2px #F53838;
    border-radius: 50px;
    color: #fff;
    background-color: #F53838;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.left-arrow {
    content: url(/images/Button/nonact/left.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
}

.left-arrow:hover {
    content: url(/images/Button/act/left.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
}

.right-arrow {
    content: url(/images/Button/nonact/right.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
}

.right-arrow:hover {
    content: url(/images/Button/act/right.svg);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
}

.subscribe button   {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #F53838;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.25%;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}

.subscribe button:hover,
.subscribe button:focus  {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: #ef4a4a;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 156.25%;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
}

.subscribe .blur {
    position: relative;
    width: 250px;
    height: 85.291px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);
    z-index: 2;
}

.subscribe-box p {
    padding-bottom: 2em;
}

.subscribe-box {
    max-width:100%;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}


/* ------------------ NAVIGATION ------------------ */

.active {
    color: #fc6464;
    border: 1.5px solid #fb9b9b;
    padding: .3em .6em;
    border-radius: 999px;
    background-color: var(--lasels-light);
}

#active-m {
    color: var(--lasels-light);
    border: 2px solid var(--lasles-red);
    background-color: var(--lasles-red);
    padding: .3em .6em;
    border-radius: 999px;
}

.nav-pad {
    padding: .3em .6em;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 999px;
}


.signin:hover,
.signin:focus {
    color: #F53838;
}

.nav-items li a:hover,
.nav-items li a:focus {
    color: #F53838;
}

/* --------------------- HEADER -------------------- */

.hero-box {
    padding: 6em 1em 1em 1em;
}

.hero-img {
    width: 100%;
} 

.hero-cta p em {
    font-weight: 500;
}



/* --------------------- STATS -------------------- */

.stats ul {
    display: flex;
    justify-content: space-around;
}

.stats ul li {
    margin: 2em 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    flex-grow: 1;

}

.stats-box li img {
    padding: 0 0 1em 0;
}

.stats-box {
    position: relative;
    padding: 1em;
}

.stats-white-box {
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.stats-blur {
    border-radius: 10px;
    opacity: 0.06;
    background: #0D1025;
    filter: blur(57px);
    width: 90%;
    height: 189.218px;
    flex-shrink: 0;
    top: 4em;
    position: absolute;
    z-index: -1;
}


/* --------------------- FEATURES -------------------- */

.features-img {
    width: 90%;
}

.features {
    padding: 0 1em 1em 1em;
}

.features-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features h2,
.features p,
.features ul {
    padding: .5em 0 .5em 0;
}

.checklist {
    list-style: none;
    padding: 0;
}
  
.checklist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.checklist li img {
    margin-right: 10px;
}

  /* ----------------------- PLAN --------------------- */

.pricing-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em 1em 1em;
}

.pricing h2,
.pricing p {
    padding: .5em 0 .5em 0;
}

.pricing-box h2 {
    padding-bottom: .5em;
}

.long-card {
    display: inline-flex;
    padding: 33px 70px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    margin: 1.5em 0 1em 0;
}

.confetti-box {
    width: 144.904px;
    height: 165.374px;
    flex-shrink: 0;
}

.long-card .checklists {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}
  
.long-card .checklists li {
    display: flex;
    margin-bottom: 5px; 
}
  
.long-card .checklists li img {
    margin-right: 5px; 
} 

/* ---------------------- NETWORK -------------------- */


.global-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em 1em 1em;
}

.global-box h2 {
    padding-bottom: .5em;
}

.global-img {
    padding-top: 2em;
    width: 100%;
    height:300px;
}

.sponsors-img {
    width: 100%;
    height:150px;
}

.global-box p em {
    font-weight: 500;
}

/* --------------------- TESTIMONIALS --------------------- */


.testimonials-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em 3em 1em;
}

.testimonials-box h2 {
    padding-bottom: .5em;
}

.cards {
    display: flex;
    overflow-x: auto;
    gap: 50px;
    padding: 1em;
    -webkit-overflow-scrolling: touch;    
}

.card {
    flex: 0 0 auto;
    width: 400px;
    min-width: 300px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid #DDD;
    flex-direction: column;
    padding: 1em;
    display: flex;
    justify-content: start;
}

.card img:nth-child(1){
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background:lightgray 50% / cover no-repeat;
}

.name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.testimonials {
    margin-bottom: 5em;
}

.slider-arrows {
    display: flex;
    justify-content: end;
    gap: .7em;
}

.slider-actions {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-nav {
    margin-top: 1em;
}

.slider-nav svg circle {
    cursor: pointer;
}

.star {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .3em;
}

.title {
    display: flex;
}

.names h4 {
    line-height: 20px;
    text-align: left;
}

.names p {
    text-align: left;
}

.title img {
    margin-right: 1em;
}


/* --------------------- SUBSCRIBE --------------------- */

.subscribe {
    padding: 1em 1em 2em 1em;
}

/* ------------------------ FOOTER ----------------------- */

.footer {
    padding: 2em 1em 1em 1em;
    background-color: #F8F8F8;
}

.footer-left {
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 1em 0 0 0;
}

.footer-left .logo,
.footer-left p {
    padding: .5em 0;
}

.footer-left p {
    max-width: 320px; 
}

.footer-right a{
    text-decoration: none;
    color: #4F5665;
}

.footer-right ul li {
    padding: .5em 0 .5em 0;
}

.footer-right h4 {
    padding: 1em 0 1em 0;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    text-align: left;
    justify-content: space-between;
}

.footer-product,
.footer-engage {
    flex: 1 1 0;
    min-width: 120px;
}

.footer-earn {
    flex-basis: 1 1 0;
}

.copyright {
    display:flex;
    align-items: flex-start;
    padding-top: 2em;
    color: #AFB5C0;
}

.socials-div a img {
    border-radius: 33px;
    filter: drop-shadow(0px 13px 18px rgba(17, 19, 35, 0.08));
}

.socials {
    padding: 1.5em 0 ;
}

.socials img {
    padding-right: 1em;
}

.footer-container ul a:hover,
.footer-container ul a:focus {
    color: var(--lasles-red);
}

.fb:hover,
.fb:focus {
    content: url(/images/Socmed/act/Facebook.svg);
}

.inst:hover,
.inst:focus {
    content: url(/images/Socmed/act/Instagram.svg);
}

.twitter:hover,
.twitter:focus {
    content: url(/images/Socmed/act/Twitter.svg);
}



 /**************************************************** 
                    Mobile Styles
 *****************************************************/

 @media screen and (max-width:930px) {

    /* ------------------ TYPOGRAPHY ------------------ */

    p {
        color: #4F5665;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%; 
    }

    h1 {
        color: #0B132A;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; 
    }

    h2 {
        color: #0B132A;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
    }


    /* ------------------ NAVIGATION ------------------ */


    .desktop {
        display: none;
    }

    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.4142135637);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin-top);
        right: var(--hamburger-margin-left);
        z-index: 2;
        cursor: pointer;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background);
        border-radius: 9999px;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-colour var(--animation-timing);
        transform-origin: left center;
    }

    .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
    }
    
    .hamburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding-top: 5em;
        background-color: var(--lasels-light);
        color: var(--background);
        width: 100%;
        height: 100vh;
        display: none;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
        display:block;
    }

    .sidebar nav {
        display: flex;
        flex-direction: column;
        text-align: center; 
        padding-top: 4em;
    }

    .sidebar nav div{
        padding: 1em 2em;
    }

    .sidebar nav div a{
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        color:var(--lasles-red);
    }

    .sidebar nav div a:focus{
        color:var(--lasels-blue);
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

   .mobile-logo {
        position: absolute;
        top: 2.4em;
        left: 1em;
   }

   .hamburger-menu {
    padding-top: 1em;
   }



   /* --------------------- HEADER -------------------- */

   .hero-cta h1 {
    padding: .5em 0;
   }
   
   .hero-cta p {
    padding: 0 0 2em 0;
   }

   .hero-box {
    padding-bottom: 4em;
   }


    /* --------------------- FEATUERS ------------------- */

   .features-img {
    padding-top: 5em;
    }

    /* -------------------- TESTIMONIALS ---------------- */

    .card {
        width: 350px;
    }

    /* -------------------- SUBSCRIBE ------------------- */

    .subscribe {
        padding-top: 6em;
    }

    /* --------------------- FOOTER ------------------- */

    .copyright-d {
        display: none;
    }

}


/**************************************************** 
                    Desktop Styles
 *****************************************************/

 @media screen and (min-width:931px)  {
    
    /* ------------------- NAVIGATION ------------------- */

    nav ul {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    
    li.logo {
        justify-items: center;
        align-items: center;
        padding-right: .5em;
    }

    .nav-items {
        display: flex;
        justify-items: center;
        align-items: center;
    }
    
    .nav-items li {
        padding: 1em 0.4em;
    }
    
    .nav-buttons {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .mobile-nav {
        display: none;
    }

    .desktop {
        padding: 2em 1em 0 1em;
    }


    /* --------------------- HEADER --------------------- */

    .hero-box {
        padding-bottom: 8em;
        display: grid;
        grid-template-areas: 
        "hero-cta hero-img";

        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .hero-cta { grid-area: hero-cta;}
    .hero-img { grid-area: hero-img;}

    .hero-cta h1 {
        padding-bottom: .5em;
    }

    .hero-cta p {
        padding-bottom: 2em;
    }


    /* ---------------------- STATS --------------------- */

    .stats ul li:nth-child(-n+2) {
        border-right: solid 2px #f4f4f4;
    }
    

    /* -------------------- FEATURES -------------------- */

    .features { 
        display: grid;
        grid-template-areas: 
        "img cta";
        grid-template-columns: 1.3fr 1fr;
        grid-gap: 2cm;
        padding-top: 6em;
        align-items: center;
        justify-items: center;
        padding: 4em 6em;
    }

    .features-img { grid-area: img;}
    .features-cta { grid-area: cta;}


    .features-cta {
        padding-left: 2em;
        padding-top: 6em; 
    }

    .features-cta h2,
    .features-cta p,
    .features-cta ul li {
        padding-right: 1em;
    }


    /* ---------------------- NETWORK -------------------- */

    .global-img {
        width: 100%;
        max-width: 1060px;
        height: 540px;
        padding: 1em;
    }

    .global-box h2 {
        max-width: 385px;
    }

    .global-box {
        padding-top: 7em;
    }

    .global-box p {
        max-width: 555px;
        margin-bottom: 6em;
    }

    .sponsors-img {
        width: 100%;
        height: 210px;
        padding: 1em;
    }


    /* ------------------- TESTIMONIALS ------------------ */

    .testimonials-box h2 {
        max-width: 450px;
    }

    .testimonials-box p {
        max-width: 555px;
    }

    .card {
        height: 180px;
        padding: 2em;
    }

    .cards {
        gap: 40px;
    }


    /* -------------------- SUBSCRIBE ------------------- */

    .subscribe {
        padding: 5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }

    .subscribe {
        position: relative;
        padding: 1em;
    }
    
    .subscribe-box {
        border-radius: 10px;
        position: relative;
        z-index: 1;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .scribe-blur {
        border-radius: 10px;
        opacity: 0.06;
        background: #0D1025;
        filter: blur(57px);
        width: 90%;
        height: 189.218px;
        flex-shrink: 0;
        bottom: 4em;
        position: absolute;
        z-index: -1;
    }

    .subscribe-box h2 {
        max-width: 370px;
        padding-bottom: .5em;
        padding-left: 1em;
    }

    .subscribe-box p {
        padding-left: 2.3em;
    }

    .subscribe-box {
        padding: 2em;
    }

    .relative {
        position: relative;
        bottom: -10em;
        width: 100%;
    }
    


    /* --------------------- FOOTER ---------------------- */

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-right {
        gap: 5em;
    }

    .footer-left {
        margin-right: 3em;
    }

    .footer-product,
    .footer-engage {
        flex: 1 1 0;
        min-width: 120px;
    }

    .footer {
        height: 565px;
        padding-top: 12em;
        position: relative;
    }

    .copyright {
        display: none;
    }

    .copyright-d {
        padding-top: 1em;
        color: #AFB5C0;
    }

    
}

/**************************************************** 
                Custom Card Querry's
 *****************************************************/

 @media screen and (min-width: 1081px) {

    /* --------------------- PLAN ---------------------- */

    .long-cards {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    .long-card {
        height: 674px;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 4em 5em;
    }

    .conf img,
    .conf h4 {
        padding-bottom: 1em;
    }

    .sel h4 {
        padding-bottom: 1.5em;
    }

    
}


@media screen and (max-width: 1080px) {

    /* ------------------------PLAN --------------------- */

    .long-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3em;
        text-align: center;
    }

    .sel h4 {
        padding-bottom: 1em;
    }

    .conf h4 {
        padding: 1em 0;
    }


}


/**************************************************** 
                        ABOUT US
 *****************************************************/


.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3em 1em 1em 1em;
}

.about-box h2 {
    padding-bottom: .5em;
}

.about-img {
    border-radius: 5%;
}

.sponsors-img {
    width: 100%;
    height:150px;
}

.about-hero-img {
    border-radius: 5%;
    margin-left: 4em;
    width: 90%;
}

.about-hero {
    padding-top: 2em;
}

  
  @keyframes bobbing {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-10px); 
    }
}



/* ------------------------ DESKTOP --------------------- */

.about-img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about-box {
    padding-top: 1em;
}

.sponsors-img {
    width: 100%;
    height: 210px;
    padding: 1em;
}

.about-box p {
    width: 80%;
    padding-bottom: 6em;
}

.about-box p em{
    font-weight: 500;
}




/* ------------------------ MOBILE--------------------- */

@media screen and (max-width:930px) {
    .about-hero-img {
        border-radius: 30px;
        margin-left: 0;
        margin-top: 2em;
        width: 100%;
    }

    .about-box p{
        width: 90%;
    }

}


/**************************************************** 
                        HELP
 *****************************************************/

  .help-container {
    width: 100%;
    margin: 0 auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  form {
    display: grid;
    gap: 20px;
  }
  
  .input-group {
    display: grid;
    gap: 5px;
  }

  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: var(--lasles-red);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #ef4a4a;
  }
  
  .help-width {
    padding: 3em 1em 10em 1em;
  }
  
 /* ------------------------ MOBILE--------------------- */

  @media screen and (max-width: 768px) {
    .help-container {
      padding: 10px;
    }
  }

  
/**************************************************** 
                        SLIDER
 *****************************************************/

